@charset "UTF-8";
body {
  background: #1b1e22;
  font-family: "Montserrat", sans-serif;
}

header {
  padding-top: 25px;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1133px;
  margin: auto;
}
@media (max-width: 1200px) {
  .container {
    max-width: 95%;
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1110px) {
  .flex {
    display: block;
  }
}

.flex__left {
  display: flex;
  align-items: center;
}
@media (max-width: 380px) {
  .flex__left {
    display: block;
    padding-bottom: 10px;
  }
}

.flex__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 380px) {
  .logotip__language {
    padding-top: 10px;
  }
}

.eng {
  color: rgba(196, 196, 196, 0.5);
  font-size: 13px;
  font-weight: 500;
  padding-right: 21px;
  padding-left: 26px;
  line-height: 16px;
}

.pyc {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
}

.flex__right__navigation {
  display: flex;
  align-items: center;
  line-height: 32px;
}
@media (max-width: 1110px) {
  .flex__right__navigation {
    margin-top: 20px;
  }
}
.flex__right__navigation .mob-menu {
  width: 50px;
  display: none;
}
@media (max-width: 700px) {
  .flex__right__navigation .mob-menu {
    display: block;
  }
}

@media (max-width: 700px) {
  .botton__but {
    padding-top: 20px;
  }
}

.but {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  border-radius: 10px;
  border: 1px solid #ffb800;
  padding: 10px 34px;
}

.flex__right__navigation nav ul {
  display: flex;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  list-style: none;
  padding-right: 35px;
  gap: 40px;
}
@media (max-width: 700px) {
  .flex__right__navigation nav ul {
    display: none;
  }
}

.but:hover {
  background-color: #ffb800;
}

.greeting__why-us {
  color: #fff;
  text-align: center;
  font-size: 34px;
  font-weight: 500;
  padding-bottom: 44px;
  padding-top: 205px;
}
@media (max-width: 1200px) {
  .greeting__why-us {
    text-align: left;
  }
}

@media (max-width: 1025px) {
  .greeting__why-us {
    padding-top: 100px;
  }
}
.greeting__why__card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  line-height: 24px;
}
@media (max-width: 1200px) {
  .greeting__why__card-wrapper {
    max-width: 650px;
    row-gap: 40px;
  }
}
@media (max-width: 800px) {
  .greeting__why__card-wrapper {
    max-width: 300px;
    row-gap: 40px;
  }
}

.greeting__why-card {
  width: 247px;
}

.greeting__card {
  padding: 0 10px;
  width: 22%;
}
@media (max-width: 1200px) {
  .greeting__card {
    width: 45%;
  }
}
@media (max-width: 800px) {
  .greeting__card {
    width: 90%;
  }
}

.greeting__card img {
  max-width: 100%;
  vertical-align: bottom;
}

.greeting__card p {
  padding-top: 17px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.greeting {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.03) 2.91%, rgba(27, 30, 34, 0.4) 49.31%, #1b1e22 93.77%), url(../images/main-bg.jpeg);
  padding-top: 169px;
  background-size: cover;
}

.greeting__tour-search {
  border-radius: 10px;
  background: rgba(51, 51, 51, 0.25);
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  padding: 51px 70px 55px;
  max-width: 500px;
  transform: translateX(70px);
}

@media (max-width: 1273px) {
  .greeting__tour-search {
    transform: translateX(0);
  }
}
@media (max-width: 1025px) {
  .greeting__tour-search {
    margin-top: 50px;
  }
}
@media (max-width: 1025px) and (max-width: 516px) {
  .greeting__tour-search {
    padding: 40px;
  }
}
@media (max-width: 1025px) and (max-width: 460px) {
  .greeting__tour-search {
    padding: 30px 30px;
  }
}
.greeting__hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.greeting__hero__left {
  max-width: 474px;
}

.greeting__hero__left h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 500;
  padding-bottom: 26px;
}
@media (max-width: 1025px) {
  .greeting__hero__left h1 {
    padding-top: 90px;
  }
}

.greeting__hero__left p {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

.greeting__tour-search h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 23px;
}

.greeting__tour-search-what {
  width: 360px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #fff;
}
@media (max-width: 460px) {
  .greeting__tour-search-what {
    width: 100%;
  }
}

.greeting__tour-search-what input {
  width: 88%;
  height: 36px;
  border: none;
  outline: none;
  color: #fff;
}
@media (max-width: 460px) {
  .greeting__tour-search-what input {
    width: 86%;
  }
}

.greeting__tour-search-what button {
  height: 36px;
  width: 36px;
  background: url(../images/lypa.svg) no-repeat center;
  background-size: 20px;
  border: none;
  cursor: pointer;
}

.greeting__date-time {
  display: flex;
  justify-content: space-between;
  padding-top: 21px;
  padding-bottom: 21px;
  color: #fff;
}

.greeting__date-time input {
  border-radius: 4px;
  border: 1px solid #fff;
  width: 168px;
  height: 36px;
  padding-left: 9px;
  outline: none;
}
@media (max-width: 460px) {
  .greeting__date-time input {
    width: 47%;
  }
}

input::-moz-placeholder {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
}

input::placeholder {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
}

input:focus::-moz-placeholder {
  opacity: 0;
}

input:focus::placeholder {
  opacity: 0;
}

.greeting__submit {
  padding-top: 27px;
}

.greeting__tour-tour {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid #fff;
  height: 36px;
}
.greeting__tour-tour select {
  width: 91%;
  height: 36px;
  padding-left: 9px;
  border: none;
  outline: none;
}

.greeting__tour-tour button {
  height: 20px;
  width: 20px;
  background: url(../images/strelka.svg) no-repeat center/15px;
}

.greeting__submit-btn {
  display: block;
  text-align: center;
  height: 36px;
  width: 100%;
  background-color: #ffb800;
  border-radius: 4px;
  color: #333;
  font-size: 20px;
}

.actual__card__vr {
  padding-top: 24px;
}
@media (max-width: 1200px) {
  .actual__card__vr {
    padding: 1px;
  }
}

.actual__card {
  width: 361px;
  background-color: #23282f;
  position: relative;
  transition: 0.7s;
  border-radius: 4px 4px 0px 0px;
}
@media (max-width: 1200px) {
  .actual__card {
    margin-bottom: 20px;
  }
}

.actual__card:hover {
  background-color: #fff;
  transform: scale(1.05);
}

.actual__card:hover .actual__descr h3,
.actual__card:hover .actual__descr p {
  color: #333;
}

.actual__card:hover .actual__descr a {
  color: rgba(0, 0, 0, 0.5);
}

.actual__card:hover .actual__price-date {
  transform: translateY(14px);
}

.actual__cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .actual__cards-wrapper {
    max-width: 750px;
    row-gap: 10px;
  }
}
@media (max-width: 800px) {
  .actual__cards-wrapper {
    max-width: 400px;
    row-gap: 10px;
  }
}

.actual__title {
  color: #fff;
  text-align: center;
  font-size: 34px;
  font-weight: 500;
  padding-bottom: 45px;
  padding-top: 75px;
}
@media (max-width: 1200px) {
  .actual__title {
    text-align: left;
  }
}

.actual__img {
  position: relative; /*Становиться родителем обсолют элеиента*/
  background-color: #23282f;
}

.actual__img img {
  border-radius: 4px 4px 0px 0px;
  background-color: #23282f;
}

.actual__price-date {
  position: absolute; /*выпал из поток. Можно назначать размещение (top, right, botoom, left) */
  left: 0;
  bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.7s;
}

.actual__card:hover .actual__price span {
  font-size: 24px;
}

.actual__price {
  background-color: #ffb800;
  height: 32px;
  padding: 4px 0px 0px 2px;
}

.actual__price span {
  color: #1b1e22;
  font-size: 20px;
  font-weight: 700;
}

.actual__date {
  border-radius: 0px 6px 6px 0px;
  background: rgba(28, 30, 33, 0.75);
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  padding: 8px 0px;
  width: 171px;
  height: 32px;
}

.actual__descr {
  padding: 16px 21px 24px; /*Верхний, правый-левый, нижний*/
}

.actual__descr h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.actual__descr p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding-top: 16px;
  padding-bottom: 55px;
  line-height: 20px;
}

.actual__descr a {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  opacity: 0.5;
  position: absolute; /*выпал из поток. Можно назначать размещение (top, right, botoom, left) */
  left: 20px;
  bottom: 24px;
}

.sub {
  display: inline-block;
}

.move-to {
  margin: 37px auto 72px;
  text-align: center;
}
@media (max-width: 1200px) {
  .move-to {
    text-align: left;
    margin: 20px 0 37px;
  }
}
@media (max-width: 800px) {
  .move-to {
    padding-left: 0;
  }
}

.move-to button {
  display: block;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid #ffb800;
  width: 217px;
  height: 48px;
  padding: 11px;
}

.move-to button:hover {
  background-color: #ffb800;
}

.number__result {
  background: linear-gradient(to top, rgba(27, 30, 34, 0.78), rgba(27, 30, 34, 0.78)), url(../images/fon.png);
  background-size: cover;
}

.number__result__cards-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 1200px) {
  .number__result__cards-wrapper {
    max-width: 650px;
  }
}
@media (max-width: 800px) {
  .number__result__cards-wrapper {
    max-width: 300px;
  }
}

.number__result__card {
  text-align: center;
  width: 264px;
}
@media (max-width: 1200px) {
  .number__result__card {
    width: 45%;
  }
}
@media (max-width: 800px) {
  .number__result__card {
    width: 90%;
  }
}

.number-result__number {
  color: #ffb800;
  font-size: 78px;
  font-weight: 500;
  padding-top: 59px;
  padding-bottom: 68px;
}

.number-result__text {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 68px;
}

.number-result__number {
  padding-bottom: 23px;
}
@media (max-width: 800px) {
  .number-result__number {
    padding-top: 0;
  }
}

.blog__card-sport h2 {
  color: #fff;
  font-size: 34px;
  font-weight: 500;
  text-align: center;
  padding-top: 62px;
  padding-bottom: 44px;
}
@media (max-width: 1200px) {
  .blog__card-sport h2 {
    text-align: left;
  }
}

.blog__sport {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 1200px) {
  .blog__sport {
    max-width: 840px;
  }
}
@media (max-width: 900px) {
  .blog__sport {
    max-width: 550px;
  }
}

.level__sport__card-left {
  width: 552px;
  height: 480px;
  background: linear-gradient(to top, rgba(27, 30, 34, 0.78), rgba(27, 30, 34, 0.78)), url(../images/actual-1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
@media (max-width: 1200px) {
  .level__sport__card-left {
    margin-bottom: 30px;
  }
}
@media (max-width: 900px) {
  .level__sport__card-left {
    margin-bottom: 30px;
  }
}
@media (max-width: 555px) {
  .level__sport__card-left {
    margin-bottom: 30px;
  }
}
@media (max-width: 580px) {
  .level__sport__card-left {
    max-width: 100%;
  }
}

.sport__activ__earth {
  padding: 51px 20px 266px;
}

.sport__activ__earth h3 {
  width: 521px;
  color: #fff;
  text-align: center;
  font-size: 34px;
  font-weight: 500;
  padding-bottom: 28px;
}
@media (max-width: 580px) {
  .sport__activ__earth h3 {
    max-width: 100%;
  }
}

.sport__activ__earth p {
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
}

.sport__card {
  width: 264px;
  border-radius: 4px;
  background: #23282f;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  flex-wrap: wrap;
}
@media (max-width: 1200px) {
  .sport__card {
    margin-bottom: 30px;
  }
}
@media (max-width: 900px) {
  .sport__card {
    position: relative;
  }
}
@media (max-width: 580px) {
  .sport__card {
    max-width: 580px;
  }
}

.sport__journey {
  padding: 20px 20px 21px; /*Верхний, правый-левый, нижний*/
}

.sport__journey h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 14px;
}

.sport__journey p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.sport2__img img {
  border-radius: 4px 3px 0px 0px;
}

.sport3__img img {
  border-radius: 4px 3px 0px 0px;
}

.sport__trevel-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 20px 21px;
  position: absolute;
  left: 0;
  bottom: 0;
  gap: 25px;
}
@media (max-width: 1200px) {
  .sport__trevel-right {
    position: static;
  }
}
@media (max-width: 900px) {
  .sport__trevel-right {
    position: absolute;
  }
}
@media (max-width: 580px) {
  .sport__trevel-right {
    position: static;
  }
}

.sport__date {
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  font-weight: 400;
}

.comments {
  display: flex;
  background-image: url(../images/commeds.svg);
  background-repeat: no-repeat;
  padding-left: 17px;
}

.comments p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  font-weight: 400;
}

.like1 {
  background-image: url(../images/like.svg);
  background-repeat: no-repeat;
  padding-left: 17px;
}

.like1 p {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
}

.like2 {
  background-image: url(../images/like-2.svg);
  background-repeat: no-repeat;
  padding-left: 17px;
}

.like2 p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  font-weight: 400;
}

.customer__reviews {
  color: #fff;
  text-align: center;
  font-size: 34px;
  font-weight: 500;
  padding-bottom: 47px;
}

.customer__reviews-card {
  text-align: center;
}

.customer__reviews-card img {
  border-radius: 96px;
  width: 96px;
  height: 96px;
}

.customer__reviews__people p {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  margin: 0 auto;
  padding-top: 30px;
  width: 924px;
  line-height: 32px;
}
@media (max-width: 900px) {
  .customer__reviews__people p {
    text-align: left;
    width: 100%;
  }
}

.customer__reviews__name p {
  color: #ffb800;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding-top: 6px;
}

.navigation__links-address1 {
  color: #ffb800;
  text-align: right;
  font-size: 13px;
  font-weight: 400;
}

.navigation__links-address a {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
}

.round__button__1 {
  margin-top: 32px;
  width: 10px;
  height: 10px;
  background-color: #545050;
  display: inline-block;
  border-radius: 60px;
  margin-right: 3px;
}

.round__button__1.round__button__active {
  background-color: #fff;
}

@media (max-width: 600px) {
  .navigation__tel {
    width: 100%;
  }
}

.navigation__links {
  padding-top: 58px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 120px;
  flex-wrap: wrap;
}
@media (max-width: 980px) {
  .navigation__links {
    max-width: 800px;
    gap: 70px;
  }
}
@media (max-width: 600px) {
  .navigation__links {
    gap: 30px;
  }
}
.navigation__links span {
  color: #ffb800;
  text-align: right;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  margin-right: 28px;
}
.navigation__links a {
  color: #FFF;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.navigation__links .strit {
  color: #FFF;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.navigation__links p {
  padding-bottom: 15px;
}

.navigation__tel .phone {
  margin-left: 97px;
}

.navigation__cotseti a {
  margin-right: 20px;
}

/*# sourceMappingURL=style.css.map */